n8n_workflows/async_context_bot.json
{
  "name": "Async Context Bot - Haylander",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "context/async",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        460,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.event_type}}",
              "value2": "5_min_nudge"
            }
          ]
        }
      },
      "id": "switch-event",
      "name": "Switch Event",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Webhook Trigger\"].json.body.callback_url}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{$node[\"Webhook Trigger\"].json.body.phone}}"
            },
            {
              "name": "action",
              "value": "send_message"
            },
            {
              "name": "message",
              "value": "Você ainda está aí?"
            }
          ]
        },
        "options": {}
      },
      "id": "callback-nudge",
      "name": "Callback Nudge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        240
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Você é um assistente de CRM. Analise o histórico da conversa e extraia informações vitais.\n\nSaída esperada (JSON):\n{\n  \"summary\": \"Resumo curto do que foi conversado e qual o próximo passo.\",\n  \"extracted_fields\": {\n    \"nome_completo\": \"Se identificado\",\n    \"email\": \"Se identificado\",\n    \"cnpj\": \"Se identificado\",\n    \"razao_social\": \"Se identificada\",\n    \"tipo_negocio\": \"Ramo de atuação\",\n    \"faturamento_mensal\": \"Valor aproximado\",\n    \"qualificacao\": \"Classificação do lead (MQL/SQL)\",\n    \"interesse_ajuda\": \"O que ele precisa?\",\n    \"motivo_qualificacao\": \"Por que é qualificado ou não?\",\n    \"situacao\": \"Estado atual (negociacao, fechado, etc)\"\n  }\n}\n\nSe a informação não estiver clara, não inclua o campo no JSON ou deixe null."
            },
            {
              "role": "user",
              "content": "Histórico:\n{{ JSON.stringify($json.body.history) }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "openai-analyze",
      "name": "OpenAI Analyze",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        900,
        440
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Webhook Trigger\"].json.body.callback_url}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{$node[\"Webhook Trigger\"].json.body.phone}}"
            },
            {
              "name": "action",
              "value": "update_context"
            },
            {
              "name": "summary",
              "value": "={{$json.summary}}"
            },
            {
              "name": "extracted_fields",
              "value": "={{$json.extracted_fields}}"
            }
          ]
        },
        "options": {}
      },
      "id": "callback-context",
      "name": "Callback Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        440
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Switch Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Event": {
      "main": [
        [
          {
            "node": "Callback Nudge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI Analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Analyze": {
      "main": [
        [
          {
            "node": "Callback Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
