n8n_workflows/context_brain.json
{
  "name": "Haylander - Context Brain",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "context-brain",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        460,
        340
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Você é um especialista em sumarização de contexto para um CRM de advocacia. \nSeu objetivo é ler o contexto atual e a nova observação, e criar um novo resumo consolidado em português.\n\nRegras:\n1. Mantenha as informações vitais (nomes, datas, valores, dores).\n2. Seja conciso.\n3. O formato deve ser cronológico ou por tópicos relevantes.\n4. Se a nova informação for redundante, ignore.\n5. Se for contraditória, mantenha a mais recente."
            },
            {
              "content": "Contexto Atual: {{$json.body.currentContext}}\n\nNova Observação ({{$json.body.date}}): {{$json.body.newObservation}}"
            }
          ]
        }
      },
      "id": "openai-chat",
      "name": "OpenAI Chat Model",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        680,
        340
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ content: $json.message.content }) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        340
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI Chat Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}